#
# Output files
#
*.class

#
# Eclipse settings files
#
.metadata
.classpath
.project
.settings

#
# IntelliJ IDEA settings files
#
*.ipr
*.iml
*.iws
out/

#
# Gradle temporary files
#
.gradle
build/
